/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nova Round", sans-serif;
    background: #000;
    color: white;
    overflow-x: hidden;
}

/* CORES */
:root {
    --laranja: #e78c36;
    --azul: #073e7c;
    --preto: #000;
    --cinza: #111;
}

/* NAVBAR */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 25px;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo img {
    width: 55px;
}

.menu-btn {
    display: none;
    font-size: 32px;
    background: none;
    border: none;
    color: white;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu a:hover {
    color: var(--laranja);
}

/* CTA */
.cta-btn {
    background: var(--laranja);
    padding: 8px 18px;
    border-radius: 40px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

/* HERO */
.hero {
    height: 100vh;
    background: url("../IMG/imagemInicio.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 80px;
}

.hero-logo {
    width: 180px;
}

.hero-text h1 {
    font-family: "Alfa Slab One", sans-serif;
    font-size: 3rem;
    color: var(--laranja);
}

.hero-text span {
    color: white;
}

/* SERVIÇOS */

.SERVICOS {
    min-height: 100vh;
    padding: 60px;
    background: #073E7C;
    background: radial-gradient(circle, rgba(7, 62, 124, 1) 34%, rgba(0, 0, 0, 1) 93%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.SERVICOS h2 {
    text-align: center;
}

.servicos-img {
    width: 180px;
    margin-left: 20px;
}

.nossosServicos {
    padding-bottom: 40px;
    position: relative;
    top: 50px;
    left: 20px;
}

.projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.projetos div {
    background-color: #111;
    border: 2px solid var(--laranja);
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    transition: 0.3s;

}

.projetos div:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--laranja);
}

.titulo-projeto {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #e78c36;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.p1 {
    font-family: "Nova Round", system-ui;
    font-weight: 400;
    font-style: normal;
}



/* .servicos {
    padding: 90px 20px;
    background: radial-gradient(circle, var(--azul), black);
    text-align: center;
}

.servicos-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    gap: 25px;
} */
b{
    color: #e78c36;
}
h3{
    color: #e78c36;
}
.card-servico {
    background: var(--cinza);
    border: 2px solid var(--laranja);
    padding: 20px;
    border-radius: 10px;
    transition: .3s;
}

.card-servico:hover {
    transform: scale(1.05);
}

.card-servico img {
    width: 100%;
    border-radius: 10px;
}

/* AGENDAMENTO */
fieldset {
    border: 2px solid var(--laranja);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    background-color: #111;
    color: var(--branco);
}

legend {
    color: var(--azul);
    font-weight: bold;
}

input[type="text"],
input[type="time"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--azul);
    border-radius: 5px;
    background-color: #4e4e4e;
    color: var(--branco);
}

.enviar {
    background-color: var(--azul);
    color: #fff;
    border-radius: 50px;
    width: 100px;
    height: 50px;
    font-size: large;
    border: solid;
    transition: 0.3s;
    display: block;
    margin: 20px auto;
}

.enviar:hover {
    background-color: var(--laranja);
    color: #000;
}



.servicos-fieldset {
    display: flex;
    gap: 2px;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



/* SOBRE */
.sobre {
    padding: 80px 20px;
    text-align: center;
}
.foto-sobre {
    max-width: 400px;
    

}
.cta-btn:hover{
      background-color: #073e7c;
}
.sobre-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

.sobre-grid img {
    width: 100%;
    border-radius: 10px;
    border: 2px solid var(--laranja);
}
.btn-enviar:hover{
     background-color: #073e7c;
}
.sobre-texto {
    background: var(--cinza);
    border: 2px solid var(--laranja);
    padding: 25px;
    border-radius: 10px;
}


.carrosselPai {
    width: 1100px;
    margin: 0 auto 50px auto;
    padding: 50px 0;
}

.carrossel img {
    width: 90px;
}

.carousel-container {
    width: 100%;
    height: 450px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1200px;
    overflow: hidden;
}

.carrossel img {
    margin-top: -80px;
    top: 70px;
    display: flex;
}

.carousel {
    width: 350px;
    height: 350px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s ease;
}

.card {
    width: 280px;
    height: 320px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-style: preserve-3d;
    background: transparent;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.arrow {
    position: absolute;
    background: none;
    color: white;
    border: none;
    font-size: 50px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.left {
    left: 5%;
}

.right {
    right: 5%;
}

.carousel .card:nth-child(1) {
    transform: translate(-50%, -50%) translateZ(250px);
}

.carousel .card:nth-child(2) {
    transform: translate(-50%, -50%) rotateY(60deg) translateZ(250px);
}

.carousel .card:nth-child(3) {
    transform: translate(-50%, -50%) rotateY(120deg) translateZ(250px);
}

.carousel .card:nth-child(4) {
    transform: translate(-50%, -50%) rotateY(180deg) translateZ(250px);
}

.carousel .card:nth-child(5) {
    transform: translate(-50%, -50%) rotateY(240deg) translateZ(250px);
}

.carousel .card:nth-child(6) {
    transform: translate(-50%, -50%) rotateY(300deg) translateZ(250px);
}

.contatos {
    padding: 80px 20px;
    text-align: center;
    background: var(--azul);
}

.contatos-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.contatos-grid a {
    color: var(--laranja);
    text-decoration: none;
    font-size: 1.3rem;
}

.feedback textarea {
    border: 1px solid var(--azul);
    border-radius: 15px;
    background-color: #3b3b3b;
    color: var(--laranja);
    padding: 10px;
}
/* BUTTONS */
.btn-enviar {
    background: var(--laranja);
    color: black;
    padding: 12px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    border-top: 2px solid var(--laranja);
}

/* RESPONSIVO */
@media (max-width: 768px){
    body{
        overflow: auto;
    }
    .menu {
        display: none;
        position: absolute;
        top: 75px;
        right: 20px;
        background: black;
        padding: 20px;
        flex-direction: column;
        border-radius: 10px;
        width: 200px;
    }

    .menu.show {
        display: flex;
    }

    .menu-btn {
        display: block;
    }

    .sobre-grid {
        grid-template-columns: 1fr;
    }
    .menu-btn {
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    transition: 0.3s;
}

/* gira quando abre */
.menu-btn.open {
    transform: rotate(90deg);
}

/* menu oculto */
.menu {
    display: none;
    flex-direction: column;
    background: #222;
    padding: 10px;
    border-radius: 6px;
}

/* menu visível */
.menu.active {
    display: flex;
}

/* links */
.menu a {
    color: white;
    padding: 10px;
    text-decoration: none;
}
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    z-index: 1000;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp-icon {
    width: 35px;
    height: 35px;
}